/**********************************/
/********** BASIC STYLES **********/
/**********************************/

body {
	font-family: verdana;
	font-size: 14px;
	box-sizing: border-box;
}

p.small { 
	font-size: 0.7em; color: gray;
}

/******************************************/
/********** HTML ELEMENTS STYLES **********/
/******************************************/

/********** COMMON FORMULAR STYLES **********/
fieldset, input, textarea, select {
	border-radius: 5px;
}
fieldset {
	margin-bottom: 10px;
}
fieldset fieldset {
	width: 78%;
	border: 1px solid gray;
}
select.day {
	width: 75px;
}
select.month {
	width: 100px;
}
select.year {
	width: 75px;
}
input, textarea {
	margin: 5px 0;
	padding: 5px;
	width: 80%;
}
textarea {
	height: 100px;
	font-family: verdana;
}
input[type="submit"] {
	width: 100%;
}
input.short {
	width: 125px;
}

/********** TABLES **********/
table {
	width: 100%; 
	font-family: courier new; 
	font-size: 0.9em; 
}
table, td { 
	border: 1px solid teal; 
	border-collapse: collapse;
}
th {
	background-color: lightblue; 
	padding: 10px;
}
td {
	padding: 10px;  
	text-align: center; 
	color: teal;
}
td:last-child {
	/* for future use */
}
tr:nth-child(even) {
	background-color: #eee;
}
tr:hover {
	background-color: #dee;
}


/*****************************/
/********** CLASSES **********/
/*****************************/

/********** SPECIAL FORMULARS STYLES **********/
header {
	text-align: right;
}
form.login {
	width: 435px;
}

/********** FLOATING **********/
.fleft {
	float: left;
	
}
.fright {
	float: right;
	
}
.clearer {
	clear: both;
	width: 0px;
	height: 0px;
}



/********** USER MESSAGES STYLES **********/
.error {
	color: red;
}
.success {
	color: green;
}
.info {
	color: darkorange;
}
.marker {
	color: darkred;
	font-size: 1.1em;
	padding-left: 10px;
	font-weight: bold;
}

/********** SPECIAL POPUP MESSAGES STYLES **********/
popupBox {
	border: 1px solid darkorange;
	box-shadow: 20px 10px 25px 0px rgba(51,51,51,0.5);
	border-radius: 10px;
	background-color: rgba(230,230,230,0.9);
	width: 50%;
	margin: auto;	
	text-align: center;
	color: #666;
	padding: 25px;
	position: absolute;
   margin: auto;
	left: 25%;
	top: 40%;
}
popupBox p {
	color: black;
}

popupBox a {
	border-radius: 5px;
	padding: 5px 8px;
	font-size: 1.2em;
	text-decoration: none;
}
popupBox a:hover, popupBox a.button:hover {
	background-color: rgba(255,140,0,0.3);
}
popupBox a.button {
	background-color: rgba(255,255,255,0.3);
	border: 1px solid gray;
	color: gray;
	cursor: pointer;
}
popupBox a.button:hover {
	color: black;
}

/********** MIENE EXTRA CSS **********/

nav.fright {
	border: 1px solid gray;
	border-radius: 10px;
	
}
ul.categories {
	list-style-type: none;
	padding: 40px;
	text-align: center;
	
}
li.lists{
	margin-bottom: 40px;
	text-decoration:none;
	color: gray;
	font-size: 18px;
}

li.lists a{
	text-decoration:none;
}


li.lists a:visited{
	color:gray;
}

li.lists a:hover{
	color:red;
	border: 2px red solid;
	padding: 8px;
	border-radius:6px;
	background:pink;
	
}

.blogs{
	border: 1px solid gray;
	border-radius: 10px;
	margin-left:20px;
	padding:20px;
}

.blogEntry{
	margin-top:40px;
}

img.fright{
	
	margin-top: 10px;
	margin-left:10px;
	
}

img.fleft{
	
	margin-top: 10px;
	margin-right:10px;
	
}

.userdaten{
	padding:15px 0px 15px 0px;
	font-size:16px;
	color:gray;
	font-weight:bold;
	
}

.userTitle{
	color: brown;
	
}

.alleAnzeige{
	
	margin-left:20px;
}

.alleAnzeige a{
	text-decoration:none;
}

.alleAnzeige a:hover{
	color:red;
	border: 2px red solid;
	padding: 8px;
	border-radius:6px;
	background:pink;
	
}

.clearfix{
	overflow: auto;
	
}




